# 오픈소스 SW 활용 기말 프로젝트
#### 32202341 송지윤

### 주제: COVID-19와 cryptocurrency market의 상관 관계 분석 
- 2020년 3월부터 2022년 3월까지의 미국의 COVID pandemic이 암호화폐 시장에 영향을 주었을 것이라 가정한다.
- 미국의 전체 코로나 상황 데이터와 CoinGecko API의 암호화폐 변화 데이터를 비교한다.
- 암호화폐 데이터는 현재 시가총액이 가장 높은 상위 10개의 데이터로 선정한다.

# Data 전처리 및 가공

### OWID의 Data on COVID-19 (coronavirus)
- Download our complete COVID-19 dataset -> CSV file 다운로드 -> owid-covid-data.csv
- https://github.com/owid/covid-19-data/tree/master/public/data

### Data read

In [160]:
import pandas as pd
import requests

In [161]:
# CSV파일 읽어 오기
df_owid = pd.read_csv('owid-covid-data.csv')

df_owid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318399 entries, 0 to 318398
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    318399 non-null  object
 1   continent                                   303273 non-null  object
 2   location                                    318399 non-null  object
 3   date                                        318399 non-null  object
 4   total_cases                                 282164 non-null  float64
 5   new_cases                                   309582 non-null  float64
 6   new_cases_smoothed                          308318 non-null  float64
 7   total_deaths                                261272 non-null  float64
 8   new_deaths                                  309633 non-null  float64
 9   new_deaths_smoothed                         308403 non-null  float64
 10  total_cases_per_million                     282164 non-null  float64
 11  new_cases_per_million                       309582 non-null  float64
 12  new_cases_smoothed_per_million              308318 non-null  float64
 13  total_deaths_per_million                    261272 non-null  float64
 14  new_deaths_per_million                      309633 non-null  float64
 15  new_deaths_smoothed_per_million             308403 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36560 non-null   float64
 18  icu_patients_per_million                    36560 non-null   float64
 19  hosp_patients                               37365 non-null   float64
 20  hosp_patients_per_million                   37365 non-null   float64
 21  weekly_icu_admissions                       9651 non-null    float64
 22  weekly_icu_admissions_per_million           9651 non-null    float64
 23  weekly_hosp_admissions                      22218 non-null   float64
 24  weekly_hosp_admissions_per_million          22218 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          75955 non-null   float64
 35  people_vaccinated                           72732 non-null   float64
 36  people_fully_vaccinated                     69258 non-null   float64
 37  total_boosters                              44457 non-null   float64
 38  new_vaccinations                            62510 non-null   float64
 39  new_vaccinations_smoothed                   170586 non-null  float64
 40  total_vaccinations_per_hundred              75955 non-null   float64
 41  people_vaccinated_per_hundred               72732 non-null   float64
 42  people_fully_vaccinated_per_hundred         69258 non-null   float64
 43  total_boosters_per_hundred                  44457 non-null   float64
 44  new_vaccinations_smoothed_per_million       170586 non-null  float64
 45  new_people_vaccinated_smoothed              170370 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  170370 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          270230 non-null  float64
 49  median_age                                  251285 non-null  float64
 50  aged_65_older                               242532 non-null  float64
 51  aged_70_older                               248767 non-null  float64
 52  gdp_per_capita                              246309 non-null  float64
 53  extreme_poverty                             158664 non-null  float64
 54  cardiovasc_death_rate                       246742 non-null  float64
 55  diabetes_prevalence                         259363 non-null  float64
 56  female_smokers                              185112 non-null  float64
 57  male_smokers                                182592 non-null  float64
 58  handwashing_facilities                      120875 non-null  float64
 59  hospital_beds_per_thousand                  217846 non-null  float64
 60  life_expectancy                             292832 non-null  float64
 61  human_development_index                     239217 non-null  float64
 62  population                                  318399 non-null  float64
 63  excess_mortality_cumulative_absolute        11039 non-null   float64
 64  excess_mortality_cumulative                 11039 non-null   float64
 65  excess_mortality                            11039 non-null   float64
 66  excess_mortality_cumulative_per_million     11039 non-null   float64
dtypes: float64(62), object(5)
memory usage: 162.8+ MB

### column 확인 및 filtered 데이터프레임 생성
- iso_code : 국제 표준 국가 코드
- location : 국가 이름
- date : 일자
- total_cases : 전체 확진자 수
- population : 인구

In [162]:
df_owid_filtered=df_owid[['iso_code', 'location', 'date', 'total_cases', 'population']]
df_owid_filtered

       iso_code     location        date  total_cases  population
0           AFG  Afghanistan  2020-01-03          NaN  41128772.0
1           AFG  Afghanistan  2020-01-04          NaN  41128772.0
2           AFG  Afghanistan  2020-01-05          NaN  41128772.0
3           AFG  Afghanistan  2020-01-06          NaN  41128772.0
4           AFG  Afghanistan  2020-01-07          NaN  41128772.0
...         ...          ...         ...          ...         ...
318394      ZWE     Zimbabwe  2023-06-10     265161.0  16320539.0
318395      ZWE     Zimbabwe  2023-06-11     265161.0  16320539.0
318396      ZWE     Zimbabwe  2023-06-12     265289.0  16320539.0
318397      ZWE     Zimbabwe  2023-06-13     265289.0  16320539.0
318398      ZWE     Zimbabwe  2023-06-14     265289.0  16320539.0

[318399 rows x 5 columns]

In [163]:
# 데이터프레임에서 미국 데이터를 추출하기 위해 지역 데이터 추출
location = df_owid['location'].unique()
location

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [174]:
# 미국 데이터 프레임 생성
df_usa = df_owid_filtered[df_owid_filtered.location=='United States']

df_usa.head()

       iso_code       location        date  total_cases   population
299596      USA  United States  2020-01-03          NaN  338289856.0
299597      USA  United States  2020-01-04          NaN  338289856.0
299598      USA  United States  2020-01-05          NaN  338289856.0
299599      USA  United States  2020-01-06          NaN  338289856.0
299600      USA  United States  2020-01-07          NaN  338289856.0

In [178]:
# 결측치 제거
df_usa=df_usa.dropna()
df_usa

       iso_code       location        date  total_cases   population
299613      USA  United States  2020-01-20          1.0  338289856.0
299614      USA  United States  2020-01-21          1.0  338289856.0
299615      USA  United States  2020-01-22          1.0  338289856.0
299616      USA  United States  2020-01-23          1.0  338289856.0
299617      USA  United States  2020-01-24          1.0  338289856.0
...         ...            ...         ...          ...          ...
300850      USA  United States  2023-06-10  103436829.0  338289856.0
300851      USA  United States  2023-06-11  103436829.0  338289856.0
300852      USA  United States  2023-06-12  103436829.0  338289856.0
300853      USA  United States  2023-06-13  103436829.0  338289856.0
300854      USA  United States  2023-06-14  103436829.0  338289856.0

[1242 rows x 5 columns]

### CoinGecko API의 open API 사용
- https://www.coingecko.com/ko/api/documentation

### Data read

In [165]:
# 현재 암호화폐별 가격 데이터프레임 생성

# 코인 가격 API endpoint
url_coinprice = "https://api.coingecko.com/api/v3/coins/markets"

# 파라미터 설정
params = {
    "vs_currency": "krw",  
    "order": "market_cap_desc",
    "per_page": 100,       # 한 페이지 당 보여지는 코인 수 
    "page": 1              # 페이지 1의 코인
}

# 받아온 데이터로 데이터프레임 생성
response = requests.get(url_coinprice, params=params)
data_coinprice = response.json()
df_price=pd.DataFrame(data_coinprice)

df_price.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,33881065.00,657448268604487,1,7.114982e+14,1.980973e+13,34133483.00,...,2.100000e+07,21000000.0,81339064.00,-58.34405,2021-11-10T14:24:11.849Z,75594.00,44721.88130,2013-07-05T00:00:00.000Z,None,2023-06-17T13:30:02.842Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,2222847.00,267120222433210,2,2.671202e+14,9.030560e+12,2245329.00,...,1.202128e+08,NaN,5790811.00,-61.62798,2021-11-08T23:48:45.609Z,489.40,453931.70550,2015-10-20T00:00:00.000Z,"{'times': 86.72116421322835, 'currency': 'btc'...",2023-06-17T13:29:59.955Z
2,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,1276.54,106668646773126,3,1.066686e+14,2.733174e+13,1281.33,...,8.356758e+10,NaN,1499.66,-14.88513,2018-07-24T00:00:00.000Z,656.75,94.35750,2015-03-02T00:00:00.000Z,None,2023-06-17T13:30:00.413Z
3,binancecoin,bnb,BNB,https://assets.coingecko.com/coins/images/825/...,313482.00,48814032541419,4,6.264024e+13,9.479403e+11,317761.00,...,1.579002e+08,200000000.0,792895.00,-60.49905,2021-11-07T10:13:53.906Z,44.95,696661.41766,2017-10-19T00:00:00.000Z,None,2023-06-17T13:30:08.508Z
4,usd-coin,usdc,USD Coin,https://assets.coingecko.com/coins/images/6319...,1277.08,36207296320873,5,3.620730e+13,3.846201e+12,1282.50,...,2.834977e+10,NaN,1466.80,-12.92913,2022-09-30T02:11:16.560Z,1008.25,26.67007,2021-05-19T13:14:05.611Z,None,2023-06-17T13:30:00.455Z

### column 확인 및 filtered 데이터프레임 생성
- id : 암호화폐 id
- symbol : 암호화폐 symbol
- name : 암호화폐 이름
- current_price : 현재 가격
- market_cap : 시가 총액
- market_cap_rank: 시가 총액 순위

In [166]:
df_price_filtered=df_price[['id', 'symbol', 'name', 'current_price', 'market_cap', 'market_cap_rank']]

# 현재 시가 총액이 가장 높은 상위 10개 암호화폐 데이터프레임 생성
df_cointop10=df_price_filtered.head(10)
df_cointop10

,id,symbol,name,current_price,market_cap,market_cap_rank
0,bitcoin,btc,Bitcoin,33881065.00,657448268604487,1
1,ethereum,eth,Ethereum,2222847.00,267120222433210,2
2,tether,usdt,Tether,1276.54,106668646773126,3
3,binancecoin,bnb,BNB,313482.00,48814032541419,4
4,usd-coin,usdc,USD Coin,1277.08,36207296320873,5
5,ripple,xrp,XRP,617.02,32073901352574,6
6,staked-ether,steth,Lido Staked Ether,2222149.00,16063393144766,7
7,cardano,ada,Cardano,342.63,12007387865457,8
8,dogecoin,doge,Dogecoin,79.93,11165008602095,9
9,tron,trx,TRON,91.04,8198179215824,10

In [185]:
import datetime

# 기간 설정
start_date = datetime.datetime(2020, 3, 1)
end_date = datetime.datetime(2022, 3, 31)

In [186]:
# Define the API endpoint
url = "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range"

params = {
    "vs_currency": "usd",                      
    "from": int(start_date.timestamp()),
    "to": int(end_date.timestamp())                         
}

# Send a GET request to fetch the historical price data for Bitcoin
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    
    prices = data["prices"]
    df_bitcoin=pd.DataFrame(prices)

else:
    print(f"Error retrieving Bitcoin price data: {response.status_code}")

df_bitcoin

                 0             1
0    1583020800000   8552.989119
1    1583107200000   8567.802249
2    1583193600000   8905.876104
3    1583280000000   8756.718577
4    1583366400000   8758.646993
..             ...           ...
755  1648252800000  44331.777957
756  1648339200000  44510.844218
757  1648425600000  46715.117619
758  1648512000000  46994.879118
759  1648598400000  47459.261238

[760 rows x 2 columns]

In [187]:
df_bitcoin.columns=['timestamp', 'usd']
df_bitcoin

         timestamp           usd
0    1583020800000   8552.989119
1    1583107200000   8567.802249
2    1583193600000   8905.876104
3    1583280000000   8756.718577
4    1583366400000   8758.646993
..             ...           ...
755  1648252800000  44331.777957
756  1648339200000  44510.844218
757  1648425600000  46715.117619
758  1648512000000  46994.879118
759  1648598400000  47459.261238

[760 rows x 2 columns]

In [188]:
for timestamp in df_bitcoin['timestamp']:
    print(f"timestamp:  {timestamp}", end="    ")
    dt_object = datetime.datetime.fromtimestamp(timestamp/1000)
    formatted_date = dt_object.strftime("%Y-%m-%d")
    print(f"{formatted_date}")

timestamp:  1583020800000    2020-03-01
timestamp:  1583107200000    2020-03-02
timestamp:  1583193600000    2020-03-03
timestamp:  1583280000000    2020-03-04
timestamp:  1583366400000    2020-03-05
timestamp:  1583452800000    2020-03-06
timestamp:  1583539200000    2020-03-07
timestamp:  1583625600000    2020-03-08
timestamp:  1583712000000    2020-03-09
timestamp:  1583798400000    2020-03-10
timestamp:  1583884800000    2020-03-11
timestamp:  1583971200000    2020-03-12
timestamp:  1584057600000    2020-03-13
timestamp:  1584144000000    2020-03-14
timestamp:  1584230400000    2020-03-15
timestamp:  1584316800000    2020-03-16
timestamp:  1584403200000    2020-03-17
timestamp:  1584489600000    2020-03-18
timestamp:  1584576000000    2020-03-19
timestamp:  1584662400000    2020-03-20
timestamp:  1584748800000    2020-03-21
timestamp:  1584835200000    2020-03-22
timestamp:  1584921600000    2020-03-23
timestamp:  1585008000000    2020-03-24
timestamp:  1585094400000    2020-03-25
timestamp:  1585180800000    2020-03-26
timestamp:  1585267200000    2020-03-27
timestamp:  1585353600000    2020-03-28
timestamp:  1585440000000    2020-03-29
timestamp:  1585526400000    2020-03-30
timestamp:  1585612800000    2020-03-31
timestamp:  1585699200000    2020-04-01
timestamp:  1585785600000    2020-04-02
timestamp:  1585872000000    2020-04-03
timestamp:  1585958400000    2020-04-04
timestamp:  1586044800000    2020-04-05
timestamp:  1586131200000    2020-04-06
timestamp:  1586217600000    2020-04-07
timestamp:  1586304000000    2020-04-08
timestamp:  1586390400000    2020-04-09
timestamp:  1586476800000    2020-04-10
timestamp:  1586563200000    2020-04-11
timestamp:  1586649600000    2020-04-12
timestamp:  1586736000000    2020-04-13
timestamp:  1586822400000    2020-04-14
timestamp:  1586908800000    2020-04-15
timestamp:  1586995200000    2020-04-16
timestamp:  1587081600000    2020-04-17
timestamp:  1587168000000    2020-04-18
timestamp:  1587254400000    2020-04-19
timestamp:  1587340800000    2020-04-20
timestamp:  1587427200000    2020-04-21
timestamp:  1587513600000    2020-04-22
timestamp:  1587600000000    2020-04-23
timestamp:  1587686400000    2020-04-24
timestamp:  1587772800000    2020-04-25
timestamp:  1587859200000    2020-04-26
timestamp:  1587945600000    2020-04-27
timestamp:  1588032000000    2020-04-28
timestamp:  1588118400000    2020-04-29
timestamp:  1588204800000    2020-04-30
timestamp:  1588291200000    2020-05-01
timestamp:  1588377600000    2020-05-02
timestamp:  1588464000000    2020-05-03
timestamp:  1588550400000    2020-05-04
timestamp:  1588636800000    2020-05-05
timestamp:  1588723200000    2020-05-06
timestamp:  1588809600000    2020-05-07
timestamp:  1588896000000    2020-05-08
timestamp:  1588982400000    2020-05-09
timestamp:  1589068800000    2020-05-10
timestamp:  1589155200000    2020-05-11
timestamp:  1589241600000    2020-05-12
timestamp:  1589328000000    2020-05-13
timestamp:  1589414400000    2020-05-14
timestamp:  1589500800000    2020-05-15
timestamp:  1589587200000    2020-05-16
timestamp:  1589673600000    2020-05-17
timestamp:  1589760000000    2020-05-18
timestamp:  1589846400000    2020-05-19
timestamp:  1589932800000    2020-05-20
timestamp:  1590019200000    2020-05-21
timestamp:  1590105600000    2020-05-22
timestamp:  1590192000000    2020-05-23
timestamp:  1590278400000    2020-05-24
timestamp:  1590364800000    2020-05-25
timestamp:  1590451200000    2020-05-26
timestamp:  1590537600000    2020-05-27
timestamp:  1590624000000    2020-05-28
timestamp:  1590710400000    2020-05-29
timestamp:  1590796800000    2020-05-30
timestamp:  1590883200000    2020-05-31
timestamp:  1590969600000    2020-06-01
timestamp:  1591056000000    2020-06-02
timestamp:  1591142400000    2020-06-03
timestamp:  1591228800000    2020-06-04
timestamp:  1591315200000    2020-06-05
timestamp:  1591401600000    2020-06-06
timestamp:  1591488000000    2020-06-07
timestamp:  1591574400000    2020-06-08
timestamp:  1591660800000    2020-06-09
timestamp:  1591747200000    2020-06-10
timestamp:  1591833600000    2020-06-11
timestamp:  1591920000000    2020-06-12
timestamp:  1592006400000    2020-06-13
timestamp:  1592092800000    2020-06-14
timestamp:  1592179200000    2020-06-15
timestamp:  1592265600000    2020-06-16
timestamp:  1592352000000    2020-06-17
timestamp:  1592438400000    2020-06-18
timestamp:  1592524800000    2020-06-19
timestamp:  1592611200000    2020-06-20
timestamp:  1592697600000    2020-06-21
timestamp:  1592784000000    2020-06-22
timestamp:  1592870400000    2020-06-23
timestamp:  1592956800000    2020-06-24
timestamp:  1593043200000    2020-06-25
timestamp:  1593129600000    2020-06-26
timestamp:  1593216000000    2020-06-27
timestamp:  1593302400000    2020-06-28
timestamp:  1593388800000    2020-06-29
timestamp:  1593475200000    2020-06-30
timestamp:  1593561600000    2020-07-01
timestamp:  1593648000000    2020-07-02
timestamp:  1593734400000    2020-07-03
timestamp:  1593820800000    2020-07-04
timestamp:  1593907200000    2020-07-05
timestamp:  1593993600000    2020-07-06
timestamp:  1594080000000    2020-07-07
timestamp:  1594166400000    2020-07-08
timestamp:  1594252800000    2020-07-09
timestamp:  1594339200000    2020-07-10
timestamp:  1594425600000    2020-07-11
timestamp:  1594512000000    2020-07-12
timestamp:  1594598400000    2020-07-13
timestamp:  1594684800000    2020-07-14
timestamp:  1594771200000    2020-07-15
timestamp:  1594857600000    2020-07-16
timestamp:  1594944000000    2020-07-17
timestamp:  1595030400000    2020-07-18
timestamp:  1595116800000    2020-07-19
timestamp:  1595203200000    2020-07-20
timestamp:  1595289600000    2020-07-21
timestamp:  1595376000000    2020-07-22
timestamp:  1595462400000    2020-07-23
timestamp:  1595548800000    2020-07-24
timestamp:  1595635200000    2020-07-25
timestamp:  1595721600000    2020-07-26
timestamp:  1595808000000    2020-07-27
timestamp:  1595894400000    2020-07-28
timestamp:  1595980800000    2020-07-29
timestamp:  1596067200000    2020-07-30
timestamp:  1596153600000    2020-07-31
timestamp:  1596240000000    2020-08-01
timestamp:  1596326400000    2020-08-02
timestamp:  1596412800000    2020-08-03
timestamp:  1596499200000    2020-08-04
timestamp:  1596585600000    2020-08-05
timestamp:  1596672000000    2020-08-06
timestamp:  1596758400000    2020-08-07
timestamp:  1596844800000    2020-08-08
timestamp:  1596931200000    2020-08-09
timestamp:  1597017600000    2020-08-10
timestamp:  1597104000000    2020-08-11
timestamp:  1597190400000    2020-08-12
timestamp:  1597276800000    2020-08-13
timestamp:  1597363200000    2020-08-14
timestamp:  1597449600000    2020-08-15
timestamp:  1597536000000    2020-08-16
timestamp:  1597622400000    2020-08-17
timestamp:  1597708800000    2020-08-18
timestamp:  1597795200000    2020-08-19
timestamp:  1597881600000    2020-08-20
timestamp:  1597968000000    2020-08-21
timestamp:  1598054400000    2020-08-22
timestamp:  1598140800000    2020-08-23
timestamp:  1598227200000    2020-08-24
timestamp:  1598313600000    2020-08-25
timestamp:  1598400000000    2020-08-26
timestamp:  1598486400000    2020-08-27
timestamp:  1598572800000    2020-08-28
timestamp:  1598659200000    2020-08-29
timestamp:  1598745600000    2020-08-30
timestamp:  1598832000000    2020-08-31
timestamp:  1598918400000    2020-09-01
timestamp:  1599004800000    2020-09-02
timestamp:  1599091200000    2020-09-03
timestamp:  1599177600000    2020-09-04
timestamp:  1599264000000    2020-09-05
timestamp:  1599350400000    2020-09-06
timestamp:  1599436800000    2020-09-07
timestamp:  1599523200000    2020-09-08
timestamp:  1599609600000    2020-09-09
timestamp:  1599696000000    2020-09-10
timestamp:  1599782400000    2020-09-11
timestamp:  1599868800000    2020-09-12
timestamp:  1599955200000    2020-09-13
timestamp:  1600041600000    2020-09-14
timestamp:  1600128000000    2020-09-15
timestamp:  1600214400000    2020-09-16
timestamp:  1600300800000    2020-09-17
timestamp:  1600387200000    2020-09-18
timestamp:  1600473600000    2020-09-19
timestamp:  1600560000000    2020-09-20
timestamp:  1600646400000    2020-09-21
timestamp:  1600732800000    2020-09-22
timestamp:  1600819200000    2020-09-23
timestamp:  1600905600000    2020-09-24
timestamp:  1600992000000    2020-09-25
timestamp:  1601078400000    2020-09-26
timestamp:  1601164800000    2020-09-27
timestamp:  1601251200000    2020-09-28
timestamp:  1601337600000    2020-09-29
timestamp:  1601424000000    2020-09-30
timestamp:  1601510400000    2020-10-01
timestamp:  1601596800000    2020-10-02
timestamp:  1601683200000    2020-10-03
timestamp:  1601769600000    2020-10-04
timestamp:  1601856000000    2020-10-05
timestamp:  1601942400000    2020-10-06
timestamp:  1602028800000    2020-10-07
timestamp:  1602115200000    2020-10-08
timestamp:  1602201600000    2020-10-09
timestamp:  1602288000000    2020-10-10
timestamp:  1602374400000    2020-10-11
timestamp:  1602460800000    2020-10-12
timestamp:  1602547200000    2020-10-13
timestamp:  1602633600000    2020-10-14
timestamp:  1602720000000    2020-10-15
timestamp:  1602806400000    2020-10-16
timestamp:  1602892800000    2020-10-17
timestamp:  1602979200000    2020-10-18
timestamp:  1603065600000    2020-10-19
timestamp:  1603152000000    2020-10-20
timestamp:  1603238400000    2020-10-21
timestamp:  1603324800000    2020-10-22
timestamp:  1603411200000    2020-10-23
timestamp:  1603497600000    2020-10-24
timestamp:  1603584000000    2020-10-25
timestamp:  1603670400000    2020-10-26
timestamp:  1603756800000    2020-10-27
timestamp:  1603843200000    2020-10-28
timestamp:  1603929600000    2020-10-29
timestamp:  1604016000000    2020-10-30
timestamp:  1604102400000    2020-10-31
timestamp:  1604188800000    2020-11-01
timestamp:  1604275200000    2020-11-02
timestamp:  1604361600000    2020-11-03
timestamp:  1604448000000    2020-11-04
timestamp:  1604534400000    2020-11-05
timestamp:  1604620800000    2020-11-06
timestamp:  1604707200000    2020-11-07
timestamp:  1604793600000    2020-11-08
timestamp:  1604880000000    2020-11-09
timestamp:  1604966400000    2020-11-10
timestamp:  1605052800000    2020-11-11
timestamp:  1605139200000    2020-11-12
timestamp:  1605225600000    2020-11-13
timestamp:  1605312000000    2020-11-14
timestamp:  1605398400000    2020-11-15
timestamp:  1605484800000    2020-11-16
timestamp:  1605571200000    2020-11-17
timestamp:  1605657600000    2020-11-18
timestamp:  1605744000000    2020-11-19
timestamp:  1605830400000    2020-11-20
timestamp:  1605916800000    2020-11-21
timestamp:  1606003200000    2020-11-22
timestamp:  1606089600000    2020-11-23
timestamp:  1606176000000    2020-11-24
timestamp:  1606262400000    2020-11-25
timestamp:  1606348800000    2020-11-26
timestamp:  1606435200000    2020-11-27
timestamp:  1606521600000    2020-11-28
timestamp:  1606608000000    2020-11-29
timestamp:  1606694400000    2020-11-30
timestamp:  1606780800000    2020-12-01
timestamp:  1606867200000    2020-12-02
timestamp:  1606953600000    2020-12-03
timestamp:  1607040000000    2020-12-04
timestamp:  1607126400000    2020-12-05
timestamp:  1607212800000    2020-12-06
timestamp:  1607299200000    2020-12-07
timestamp:  1607385600000    2020-12-08
timestamp:  1607472000000    2020-12-09
timestamp:  1607558400000    2020-12-10
timestamp:  1607644800000    2020-12-11
timestamp:  1607731200000    2020-12-12
timestamp:  1607817600000    2020-12-13
timestamp:  1607904000000    2020-12-14
timestamp:  1607990400000    2020-12-15
timestamp:  1608076800000    2020-12-16
timestamp:  1608163200000    2020-12-17
timestamp:  1608249600000    2020-12-18
timestamp:  1608336000000    2020-12-19
timestamp:  1608422400000    2020-12-20
timestamp:  1608508800000    2020-12-21
timestamp:  1608595200000    2020-12-22
timestamp:  1608681600000    2020-12-23
timestamp:  1608768000000    2020-12-24
timestamp:  1608854400000    2020-12-25
timestamp:  1608940800000    2020-12-26
timestamp:  1609027200000    2020-12-27
timestamp:  1609113600000    2020-12-28
timestamp:  1609200000000    2020-12-29
timestamp:  1609286400000    2020-12-30
timestamp:  1609372800000    2020-12-31
timestamp:  1609459200000    2021-01-01
timestamp:  1609545600000    2021-01-02
timestamp:  1609632000000    2021-01-03
timestamp:  1609718400000    2021-01-04
timestamp:  1609804800000    2021-01-05
timestamp:  1609891200000    2021-01-06
timestamp:  1609977600000    2021-01-07
timestamp:  1610064000000    2021-01-08
timestamp:  1610150400000    2021-01-09
timestamp:  1610236800000    2021-01-10
timestamp:  1610323200000    2021-01-11
timestamp:  1610409600000    2021-01-12
timestamp:  1610496000000    2021-01-13
timestamp:  1610582400000    2021-01-14
timestamp:  1610668800000    2021-01-15
timestamp:  1610755200000    2021-01-16
timestamp:  1610841600000    2021-01-17
timestamp:  1610928000000    2021-01-18
timestamp:  1611014400000    2021-01-19
timestamp:  1611100800000    2021-01-20
timestamp:  1611187200000    2021-01-21
timestamp:  1611273600000    2021-01-22
timestamp:  1611360000000    2021-01-23
timestamp:  1611446400000    2021-01-24
timestamp:  1611532800000    2021-01-25
timestamp:  1611619200000    2021-01-26
timestamp:  1611705600000    2021-01-27
timestamp:  1611792000000    2021-01-28
timestamp:  1611878400000    2021-01-29
timestamp:  1611964800000    2021-01-30
timestamp:  1612051200000    2021-01-31
timestamp:  1612137600000    2021-02-01
timestamp:  1612224000000    2021-02-02
timestamp:  1612310400000    2021-02-03
timestamp:  1612396800000    2021-02-04
timestamp:  1612483200000    2021-02-05
timestamp:  1612569600000    2021-02-06
timestamp:  1612656000000    2021-02-07
timestamp:  1612742400000    2021-02-08
timestamp:  1612828800000    2021-02-09
timestamp:  1612915200000    2021-02-10
timestamp:  1613001600000    2021-02-11
timestamp:  1613088000000    2021-02-12
timestamp:  1613174400000    2021-02-13
timestamp:  1613260800000    2021-02-14
timestamp:  1613347200000    2021-02-15
timestamp:  1613433600000    2021-02-16
timestamp:  1613520000000    2021-02-17
timestamp:  1613606400000    2021-02-18
timestamp:  1613692800000    2021-02-19
timestamp:  1613779200000    2021-02-20
timestamp:  1613865600000    2021-02-21
timestamp:  1613952000000    2021-02-22
timestamp:  1614038400000    2021-02-23
timestamp:  1614124800000    2021-02-24
timestamp:  1614211200000    2021-02-25
timestamp:  1614297600000    2021-02-26
timestamp:  1614384000000    2021-02-27
timestamp:  1614470400000    2021-02-28
timestamp:  1614556800000    2021-03-01
timestamp:  1614643200000    2021-03-02
timestamp:  1614729600000    2021-03-03
timestamp:  1614816000000    2021-03-04
timestamp:  1614902400000    2021-03-05
timestamp:  1614988800000    2021-03-06
timestamp:  1615075200000    2021-03-07
timestamp:  1615161600000    2021-03-08
timestamp:  1615248000000    2021-03-09
timestamp:  1615334400000    2021-03-10
timestamp:  1615420800000    2021-03-11
timestamp:  1615507200000    2021-03-12
timestamp:  1615593600000    2021-03-13
timestamp:  1615680000000    2021-03-14
timestamp:  1615766400000    2021-03-15
timestamp:  1615852800000    2021-03-16
timestamp:  1615939200000    2021-03-17
timestamp:  1616025600000    2021-03-18
timestamp:  1616112000000    2021-03-19
timestamp:  1616198400000    2021-03-20
timestamp:  1616284800000    2021-03-21
timestamp:  1616371200000    2021-03-22
timestamp:  1616457600000    2021-03-23
timestamp:  1616544000000    2021-03-24
timestamp:  1616630400000    2021-03-25
timestamp:  1616716800000    2021-03-26
timestamp:  1616803200000    2021-03-27
timestamp:  1616889600000    2021-03-28
timestamp:  1616976000000    2021-03-29
timestamp:  1617062400000    2021-03-30
timestamp:  1617148800000    2021-03-31
timestamp:  1617235200000    2021-04-01
timestamp:  1617321600000    2021-04-02
timestamp:  1617408000000    2021-04-03
timestamp:  1617494400000    2021-04-04
timestamp:  1617580800000    2021-04-05
timestamp:  1617667200000    2021-04-06
timestamp:  1617753600000    2021-04-07
timestamp:  1617840000000    2021-04-08
timestamp:  1617926400000    2021-04-09
timestamp:  1618012800000    2021-04-10
timestamp:  1618099200000    2021-04-11
timestamp:  1618185600000    2021-04-12
timestamp:  1618272000000    2021-04-13
timestamp:  1618358400000    2021-04-14
timestamp:  1618444800000    2021-04-15
timestamp:  1618531200000    2021-04-16
timestamp:  1618617600000    2021-04-17
timestamp:  1618704000000    2021-04-18
timestamp:  1618790400000    2021-04-19
timestamp:  1618876800000    2021-04-20
timestamp:  1618963200000    2021-04-21
timestamp:  1619049600000    2021-04-22
timestamp:  1619136000000    2021-04-23
timestamp:  1619222400000    2021-04-24
timestamp:  1619308800000    2021-04-25
timestamp:  1619395200000    2021-04-26
timestamp:  1619481600000    2021-04-27
timestamp:  1619568000000    2021-04-28
timestamp:  1619654400000    2021-04-29
timestamp:  1619740800000    2021-04-30
timestamp:  1619827200000    2021-05-01
timestamp:  1619913600000    2021-05-02
timestamp:  1620000000000    2021-05-03
timestamp:  1620086400000    2021-05-04
timestamp:  1620172800000    2021-05-05
timestamp:  1620259200000    2021-05-06
timestamp:  1620345600000    2021-05-07
timestamp:  1620432000000    2021-05-08
timestamp:  1620518400000    2021-05-09
timestamp:  1620604800000    2021-05-10
timestamp:  1620691200000    2021-05-11
timestamp:  1620777600000    2021-05-12
timestamp:  1620864000000    2021-05-13
timestamp:  1620950400000    2021-05-14
timestamp:  1621036800000    2021-05-15
timestamp:  1621123200000    2021-05-16
timestamp:  1621209600000    2021-05-17
timestamp:  1621296000000    2021-05-18
timestamp:  1621382400000    2021-05-19
timestamp:  1621468800000    2021-05-20
timestamp:  1621555200000    2021-05-21
timestamp:  1621641600000    2021-05-22
timestamp:  1621728000000    2021-05-23
timestamp:  1621814400000    2021-05-24
timestamp:  1621900800000    2021-05-25
timestamp:  1621987200000    2021-05-26
timestamp:  1622073600000    2021-05-27
timestamp:  1622160000000    2021-05-28
timestamp:  1622246400000    2021-05-29
timestamp:  1622332800000    2021-05-30
timestamp:  1622419200000    2021-05-31
timestamp:  1622505600000    2021-06-01
timestamp:  1622592000000    2021-06-02
timestamp:  1622678400000    2021-06-03
timestamp:  1622764800000    2021-06-04
timestamp:  1622851200000    2021-06-05
timestamp:  1622937600000    2021-06-06
timestamp:  1623024000000    2021-06-07
timestamp:  1623110400000    2021-06-08
timestamp:  1623196800000    2021-06-09
timestamp:  1623283200000    2021-06-10
timestamp:  1623369600000    2021-06-11
timestamp:  1623456000000    2021-06-12
timestamp:  1623542400000    2021-06-13
timestamp:  1623628800000    2021-06-14
timestamp:  1623715200000    2021-06-15
timestamp:  1623801600000    2021-06-16
timestamp:  1623888000000    2021-06-17
timestamp:  1623974400000    2021-06-18
timestamp:  1624060800000    2021-06-19
timestamp:  1624147200000    2021-06-20
timestamp:  1624233600000    2021-06-21
timestamp:  1624320000000    2021-06-22
timestamp:  1624406400000    2021-06-23
timestamp:  1624492800000    2021-06-24
timestamp:  1624579200000    2021-06-25
timestamp:  1624665600000    2021-06-26
timestamp:  1624752000000    2021-06-27
timestamp:  1624838400000    2021-06-28
timestamp:  1624924800000    2021-06-29
timestamp:  1625011200000    2021-06-30
timestamp:  1625097600000    2021-07-01
timestamp:  1625184000000    2021-07-02
timestamp:  1625270400000    2021-07-03
timestamp:  1625356800000    2021-07-04
timestamp:  1625443200000    2021-07-05
timestamp:  1625529600000    2021-07-06
timestamp:  1625616000000    2021-07-07
timestamp:  1625702400000    2021-07-08
timestamp:  1625788800000    2021-07-09
timestamp:  1625875200000    2021-07-10
timestamp:  1625961600000    2021-07-11
timestamp:  1626048000000    2021-07-12
timestamp:  1626134400000    2021-07-13

In [189]:
rows=[]
for timestamp in df_bitcoin['timestamp']:
    dt_object = datetime.datetime.fromtimestamp(timestamp/1000)
    formatted_date = dt_object.strftime("%Y-%m-%d")  # Change the format as desired
    rows.append({"Date": formatted_date})

# Create a DataFrame from the rows list using pd.concat()
df_date = pd.concat([pd.DataFrame(row, index=[0]) for row in rows], ignore_index=True)
df_date

           Date
0    2020-03-01
1    2020-03-02
2    2020-03-03
3    2020-03-04
4    2020-03-05
..          ...
755  2022-03-26
756  2022-03-27
757  2022-03-28
758  2022-03-29
759  2022-03-30

[760 rows x 1 columns]

In [190]:
df_bitcoin['timestamp']=df_date['Date']
df_bitcoin

      timestamp           usd
0    2020-03-01   8552.989119
1    2020-03-02   8567.802249
2    2020-03-03   8905.876104
3    2020-03-04   8756.718577
4    2020-03-05   8758.646993
..          ...           ...
755  2022-03-26  44331.777957
756  2022-03-27  44510.844218
757  2022-03-28  46715.117619
758  2022-03-29  46994.879118
759  2022-03-30  47459.261238

[760 rows x 2 columns]

In [197]:


# Define the API endpoint
url = "https://api.coingecko.com/api/v3/coins/markets"

# Set the required parameters
params = {
    "vs_currency": "usd",
    "order": "market_cap_desc",
    "per_page": 10,  # Fetch top 10 cryptocurrencies
    "page": 1
}

# Send a GET request to the API to get the top 10 cryptocurrencies
response = requests.get(url, params=params)

data = response.json()

# Get the list of cryptocurrency symbols
crypto_symbols = [coin["symbol"].upper() for coin in data]
crypto_names=[coin["name"] for coin in data]

# Iterate through each cryptocurrency and fetch the historical prices
for symbol in crypto_symbols:
    history_url = f"https://api.coingecko.com/api/v3/coins/{symbol}/market_chart/range"
    history_params = {
        "vs_currency": "usd",
        "from": int(start_date.timestamp()),
        "to": int(end_date.timestamp())
    }

    # Send a GET request to fetch the historical price data
    history_response = requests.get(history_url, params=history_params)

    if response.status_code == 200:
        history_data = history_response.json()
        prices = history_data["prices"]

        df=pd.DataFrame(prices)
        df.name=f"df_{symbol}"
        
    else:
        print(f"Error retrieving Bitcoin price data: {response.status_code}")

TypeError: string indices must be integers, not 'str'